body {
  background-color:white;
}

h1 {
  color: #333333;
  font-family:'Phosphate Pro', serif;
  text-align: center;
}

ul#nav{
  list-style-type: none;
  background-color: #333333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #000000;
